 <%= render 'layouts/header' %>

   <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <% if current_user.admin? %>

            <h1>Create User</h1>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
                
                  <p><%= f.label :name %></p>
                  <%= f.text_field :name %><br>

                  <p><%= f.label :email %></p>
                  <%= f.text_field :email %><br>

                  <p><%= f.label :phone %></p>
                  <%= f.telephone_field :phone_number %><br>


                  <p><%= f.label :password %></p>
                  <%= f.password_field :password %><br>

                  <p><%= f.label :password_confirmation, "Confirmation" %><p>
                  <%= f.password_field :password_confirmation %><br>

                  <%= f.submit "Create account", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
           
          <% else %>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                 <p>"You do not have access to this page!" </p> 
              </div>
            </div>
          <% end %>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->

<%= render 'layouts/sidebarnav' %>



 