<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
      <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../img/avatar3.png" class="img-circle" alt="User Image" />
          </div>
          <div class="pull-left info">
            <p>Hello, Jane</p>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="active">
            <%= link_to dashboard_path  do%>
              <i class="fa fa-dashboard"></i> Dashboard
            <% end %>
          </li>
          <!-- Manage Users -->
          <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>Manage Users</span>
              <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to managestudents_path, type: "button", data: {toggle: "expanding"} do %>
                  <i class="fa fa-angle-double-right"></i> Students
                <% end %>
              </li>
              <li>
                <%= link_to manageinstructors_path, type: "button", data: {toggle: "expanding"} do %>
                  <i class="fa fa-angle-double-right"></i> Instructors
                <% end %>
              </li>
              <li>
                <%= link_to managecounselors_path, type: "button", data: {toggle: "expanding"} do %>
                  <i class="fa fa-angle-double-right"></i> Counselors
                <% end %>
              </li>
              <li>
                <%= link_to manageadmin_path, type: "button", data: {toggle: "expanding"} do %>
                  <i class="fa fa-angle-double-right"></i> Admin
                <% end %>
              </li>
              <li>
                <%= link_to managehr_path, type: "button", data: {toggle: "expanding"} do %>
                  <i class="fa fa-angle-double-right"></i> HR
                <% end %>
              </li>
            </ul>
          </li>
            <!-- Admin -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Admin</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to admindaily_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Daily
                  <% end %>
                </li>
                <li>
                  <%= link_to admincreateclasses_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Create Classes
                  <% end %>
                </li>
                <li>
                  <%= link_to myhr_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My HR
                  <% end %>
                </li>
                <li>
                  <%= link_to training_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Admin Training
                  <% end %> 
                </li>
              </ul>
            </li>
            <!-- Human Resources -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>HR</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to create_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Create Employee
                  <% end %>
                </li>
                <li>
                  <%= link_to hrpayroll_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Employee Payroll
                  <% end %>
                </li>
                <li>
                  <%= link_to hrcreateannouncement_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Create Announcement
                  <% end %>
                </li>
                <li>
                  <%= link_to training_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> HR Training
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Teaching -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Instructors</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to instructorsmyschedule_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My Schedule
                  <% end %>
                </li>
                <li>
                  <%= link_to instructorsmyclasses_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My Classes
                  <% end %>
                </li>
                <li>
                  <%= link_to myhr_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My HR
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Counseling -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Counseling</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to counselingmystudents_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My Students
                  <% end %>
                </li>
                <li>
                  <%= link_to counselingallstudents_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> All Students
                  <% end %>
                </li>
                <li>
                  <%= link_to counselingresources_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Resources
                  <% end %>
                </li>
                <li>
                  <%= link_to myhr_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> My HR
                  <% end %>
                </li>
                <li>
                  <%= link_to training_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Counselor Training
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Statistics -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Statistics</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to statisticstestscores_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Test Scores
                  <% end %>
                </li>
                <li>
                  <%= link_to statisticsacceptances_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Acceptances
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- Website Updates -->
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Website Updates</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <%= link_to websiteupdates_path, type: "button", data: {toggle: "expanding"} do %>
                    <i class="fa fa-angle-double-right"></i> Notices
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- End Nav tabs -->
          </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->